<ion-navbar *navbar>  
    <ion-title>
        Deliveries
    </ion-title>
</ion-navbar>

<ion-content class="home">      
    
    <ion-list inset>
        <ion-item>
            <ion-label>Toolbar Here Maybe...</ion-label>            
        </ion-item>
    </ion-list>
    
    <ion-list>
        
        <a ion-item  *ngFor="#delivery of _deliveries" (click)="openModal(delivery)">
            <ion-card>
                <ion-card-header>
                    {{ delivery.address }}
                </ion-card-header>
                <ion-card-content>
                    {{ delivery.city }}
                </ion-card-content>
            </ion-card>
           
        </a>             
    </ion-list>
    
</ion-content>  