<ion-toolbar>
    <ion-title>
    	Editar Status
    </ion-title>
	<ion-buttons start>
		<button (click)="dismiss()">      
			<ion-icon name="md-close"></ion-icon>
		</button>
	</ion-buttons>
</ion-toolbar>

<ion-content class="has-header">
	<ion-list radio-group>

        <ion-item *ngFor="#item of _availableStatus">
			<ion-label>{{item.actionName}}</ion-label>
			<ion-radio (click)="changeStatus(item)" value="{{item.type}}"></ion-radio>
		</ion-item>

	</ion-list>
  
	<!--<ion-buttons start>
		<button (click)="confirmStatus()" [disabled]="_selectButtonDisabled" style="width:100%;"> 
            Selecionar     			
		</button>
	</ion-buttons>
    -->
    <div *ngIf="_deliveriesListVisible">
        
        <ion-toolbar >
            <ion-title>
                Selecione Próxima
            </ion-title>            
        </ion-toolbar>
        
        <ion-list radio-group>

            <ion-item *ngFor="#item of _deliveries">
                <ion-label>{{item.address}}</ion-label>
                <ion-radio (click)="changeNextDelivery(item)" value="{{item.id}}"></ion-radio>
            </ion-item>

        </ion-list>
        
    </div>
    
    <ion-buttons start>
        <button (click)="confirmModal()" [disabled]="_selectNextButtonDisabled" style="width:100%;"> 
            Selecionar     			
        </button>
    </ion-buttons>       
    
</ion-content>



